<div class="bg" >
    <nz-spin [nzSpinning]="isSpining" [nzSize]="'large'" nzTip="Working...">
    <div class="child">
        <div nz-row class="imgDiv">
            <div nz-col nzSpan="24">
                <h1 style="margin-left: 80px;">Login</h1>
            </div>
        </div>
        <form nz-form [formGroup]="loginForm">

            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="the input is not valid E-mail!">
                    <nz-input-group nzPrefixIcon="user">
                    <input nz-input placeholder="E-mail" id="email" formControlName="email"/>
                </nz-input-group>
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="your password please!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input nz-input placeholder="Password" type="password" id="password" formControlName="password"/>
                    </nz-input-group>
                </nz-form-control>  
            </nz-form-item>

            <button nz-button class="login-form-button login-form-margin"  
            [nzType]="'primary'" (click)="login()" [disabled]="loginForm.invalid">Register</button>
            Or <a routerLink="/register"> signUp now !</a>

        </form>
    </div>
    </nz-spin>
</div>
